<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Duck Hub | App</title>
		<link rel="shortcut icon" href="/icons/duck-hub-64x.png" type="image/png" />
		<link rel="manifest" href="manifest.json" />
		<link rel="stylesheet" href="/css/app.css" />
		<script src="registerSw.js"></script>
		<script src="/app.js" defer></script>
	</head>
	<body>
		Duck Hub v<%= version %>
	</body>
</html>
