<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Duck Hub | App</title>
		<link rel="shortcut icon" href="/icons/duck-hub-64x.png" type="image/png" />
		<link rel="manifest" href="manifest.json" />
		<link rel="stylesheet" href="/css/app.css" />
		<script src="/vendor/hi-base64.js"></script>
		<script src="api.js"></script>
		<script src="registerSw.js"></script>
		<script src="/app.js" defer></script>
	</head>
	<body>
		<div id="sidenav">
			<div id="sidenav-top">
				<div>Duck Hub</div>
			</div>
			<div id="sidenav-middle"></div>
			<div id="sidenav-bottom">
				<div class="username">Username</div>
				<img
					src="/img/settings-light.svg"
					alt="settings"
					id="settings"
					class="button"
				/>
			</div>
		</div>
		<div id="wrapper">Duck Hub v<%= version %></div>
	</body>
</html>
