<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Duck Hub | Login</title>
		<script src="/login.js" defer></script>
	</head>
	<body>
		<!-- This page will be styled later -->
		<h1>Login</h1>
		<form id="login-form">
			<input type="text" id="username" placeholder="Username" />
			<input type="password" id="password" placeholder="Password" />
			<button type="submit">Login</button>
			<br />
			<div style="color: red" id="error"></div>
		</form>
		<a href="/signup">Sign Up</a>
	</body>
</html>
